# Python Data Structure - List, Tuple, Dictionary and Set

This blog focus on native data structures in Python. These data structures are:

Lists
Tuples
Sets
Dictionaries

# List in Python

List is an ordered sequence in Python. A list is mutable - can be changed. It is created using squared bracket with each item separated by a comma.

## How to create a list?

In [48]:
# Create a List
List1=['A',13,'Bangalore']
print(type(List1))
print(List1)

<class 'list'>
['A', 13, 'Bangalore']

In [49]:
# Create a list and add elements
color=[]
color.append('white')
print(color)

['white']

## How to access elements of a list?
We can access element/s of a list using index or range of indexes along with square bracket- []

In [50]:
product = ['Tomato','Potato','Banana','Apple','Orange', 'Guava','Berry']

# Accessing first element

print(product[0])

# Accessing multiple elments

print(product[1:3])

Tomato
['Potato', 'Banana']

## How to combine multiple lists?
Two or multiple lists can be concatenated using “+”.

In [51]:
# create a list of 5 colors

colors1 =['Red','White','Green','Blue','Black']

# Create a list of 2 colors

colors2 = ['Orange','Yellow']

# Combine two lists

colors3=colors1+colors2

print(colors3)

['Red', 'White', 'Green', 'Blue', 'Black', 'Orange', 'Yellow']

## How do use Loops on lists in Python?

**Scenario 1**: Create a list of 10 random values between 0 and 50. To generate random integer value, **randint()** method from **random package** can be used.  For loop is used for generating the series of these random integers using **randint()**. 

Square bracket [] is used to store these numbers to a list.

In [61]:
import random
l1 =[random.randint(0,50) for x in range(10)]
print(l1)

[15, 50, 39, 21, 44, 7, 29, 14, 2, 33]

**Scenario 2**: we have two lists - first_name (first name) and last_name (surname) and we want to combine to create a list of full names.

In [94]:
first_name =['Steven','Neena','Lex','Alexander','Bruce','David','Valli','Diana','Nancy','Daniel']
last_name =['King','Kochhar', 'De Haan', 'Hunold','Ernst','Austin','Pataballa','Lorentz','Greenberg','Faviet']

# create empty list
fullname=[]
# combine element of first and last name
for i in range(0,len(first_name)):
    fullname.append(first_name[i]+" "+last_name[i])
print(fullname)

['Steven King', 'Neena Kochhar', 'Lex De Haan', 'Alexander Hunold', 'Bruce Ernst', 'David Austin', 'Valli Pataballa', 'Diana Lorentz', 'Nancy Greenberg', 'Daniel Faviet']

## Tuple in Python

A tuple is another sequence available in Python. A tuple can be created using parentheses - "(" and ")" and items are separated by "," (commas).

Tuple stores elements in an ordered sequence and a tuple cannot be changed. 

The main difference between lists and tuples is that tuples are "immutable" but lists are "mutable". Immutable means it cannot be changed. If we want to change a tuple, we can create a new tuple.

When we want to store product prices, we can create a tuples "product_price" which stores product prices in a sequence. A tuple can store integer, float, or other tuples as its element.

In [12]:
#Tuple
T1 = ('Tomato','Potato','Onion','Radish')
print(type(T1))
print(T1)

<class 'tuple'>
('Tomato', 'Potato', 'Onion', 'Radish')

A tuple can also be created using a built-in function tuple().  Or we can convert an existing list to a tuple using tuple() function.

In [66]:
# create empty tuple
t1 =tuple()
print(t1)

# Create a list and convert to a tuple

l2 =[12,14,19,6,12]
t2 = tuple(l2)
print(t2)

()
(12, 14, 19, 6, 12)

### Indexing
If we were to select an element of a tuple, we can use the index as elements are stored in a sequence from zero onward. Indexing is done using squared bracket "["/"]".

In [68]:
# Create Tuple
product_price = (12,33,25,18,45,39)
# Index
product_price[4]

45

### Slicing 
For accessing single elements, we can use index, we can select multiple elements using range of indexes. It gives output as another tuple.

In [69]:
# Splice

product_price[3:5]

(18, 45)

## How to combine Tuples or Adding sequences?
A tuple cannot be changed but a new tuple can be created using existing done. Two tuples can be combined to create a new tuple.

In [70]:
prices_1 = (12,42,56.0, 33.75, 18.15)
prices_2 = (33, 45.23, 77.56, 26.55, 22)
price=prices_1+prices_2
print(price)

(12, 42, 56.0, 33.75, 18.15, 33, 45.23, 77.56, 26.55, 22)

### Operations on Tuple Elements
We can multiple with a number n and it will create another tuple with repeating original tuple with n times.

In [72]:
p =(12,13)

p1 = p*4

p1

(12, 13, 12, 13, 12, 13, 12, 13)

In [73]:
names =('Ram','John',11,'Michelle')

names

('Ram', 'John', 11, 'Michelle')

('Ram', 'John', 11, 'Michelle')

# Set in Python

Sets in Python are an unordered collection of elements and these elements are unique.

## Create a set
A set can be created with curly brackets - { and }.

In [74]:
# Create a set
s = {1,2,4,6}
s1={'a','b','f','d'}
print(s)
print(s1)

{1, 2, 4, 6}
{'b', 'd', 'f', 'a'}

A set can also be created using the ‘set' function. In this, we will give an input list of items and it will be converted to a set.

In [76]:
s3 =set([2,3,6,7])

print(s3)
print(type(s3))

{2, 3, 6, 7}
<class 'set'>

## Change a set in Python

We can add element/s to an existing set using add method.

### Add element
add() method can be used to add element to a set if the element is not there.

In [79]:
# current elements
print("Current Elements",s3)

# add element to a set -s3
s3.add(13)

# Now see the elements in s3
print("Elements after adding 13",s3)

Current Elements {2, 3, 6, 7, 13}
Elements after adding 13 {2, 3, 6, 7, 13}

### Remove Element
We can remove elements from a set using remove() method

In [81]:
colors = {'Red','Green','Orange', 'Blue','Black','White'}
print("Start elements of colors:",colors)

# remove 'Orange' element from colors set
colors.remove('Orange')

# view elements now
print("Elements after removing Orange:",colors)

Start elements of colors: {'White', 'Red', 'Green', 'Orange', 'Black', 'Blue'}
Elements after removing Orange: {'White', 'Red', 'Green', 'Black', 'Blue'}

### Scenarios: set operations

**Scenario 1**: We have to create a set which stores squares of integer numbers between 1 and 10

First create an empty set and then add elements using **add()** method in a for loop.

In [86]:
# define empty set
squares=set()
# run loop for 1 to 10
for i in range(1,11):
    # add elements
    squares.add(i*i)
    
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

It is unordered sequence, so the position is not important. 

**Scenario 2:** We have a list of cities and we want to get unique values, we can convert the list to set and get the unique list of cities. A set will always have unique values as elements.

In [87]:
cities=['New Orleans','Brighton','Bridgeport','Anchorage','Hamilton','Ashland','Chicago','San Jose','Sioux Falls','Phoenix','Mc Minnville','Aston','San Jose',

'New Orleans','Brighton','Bridgeport','Anchorage','Hamilton','Ashland',]

cities_unique=set(cities)

print(cities_unique)

{'Anchorage', 'Brighton', 'Phoenix', 'Sioux Falls', 'Ashland', 'Aston', 'New Orleans', 'Hamilton', 'Chicago', 'Mc Minnville', 'Bridgeport', 'San Jose'}

## Dictionary in Python

Dictionary is an unordered collection of items. Each item has a key and value pair.  A dictionary can be created using a curly bracket { and }.

Creating a dictionary

The key to a dictionary is immutable but the values can be of any data type.

In [10]:
# Dictionary 
dic1 = {'Name': 'Ramesh', 'Age': 30}
print(type(dic1))
print(dic1)

<class 'dict'>
{'Name': 'Ramesh', 'Age': 30}

In this dictionary, there are two keys ‘Name’ and ‘Age’. Value of Key ‘Name’ is a string and of Key ‘Age’ is an integer.

Now, we are creating a dictionary with two keys – ‘Name’ and ‘Spend’.  A set is associated with each of these two keys.

In [89]:
D2 ={'Name': ('Ramesh','Mahesh','Sohan'),'Spend':(12,13,12,13,45)}
print(D2)

{'Name': ('Ramesh', 'Mahesh', 'Sohan'), 'Spend': (12, 13, 12, 13, 45)}

The D2 dictionary ‘Name’ key has 3 associated values and ‘Spend’ has 5 values.

## Accessing Elements of a dictionary
Items of a dictionary can be accessed using square brackets [] or with the get() method.

In [90]:
# Using a Key value and []
print(D2['Name'])
# Using Get method
print(D2.get('Spend'))

('Ramesh', 'Mahesh', 'Sohan')
(12, 13, 12, 13, 45)

## Adding Elements to a Dictionary

In [91]:
# Add new key/value pair - element
D2['City']='Bangalore'
print(D2)

{'Name': ('Ramesh', 'Mahesh', 'Sohan'), 'Spend': (12, 13, 12, 13, 45), 'City': 'Bangalore'}

In [92]:
# Update Key or Change Values
D2['Name']=('Ramesh P','Mahesh K','Sohan S','Mukesh M')
print(D2)

{'Name': ('Ramesh P', 'Mahesh K', 'Sohan S', 'Mukesh M'), 'Spend': (12, 13, 12, 13, 45), 'City': 'Bangalore'}

## Removing Elements from a Dictionary
To remove an element from a dictionary, pop() can be used. It requires a key as an input argument.

In [93]:
# Remove Element from a Dictionary
D2.pop('City')
print(D2)

{'Name': ('Ramesh P', 'Mahesh K', 'Sohan S', 'Mukesh M'), 'Spend': (12, 13, 12, 13, 45)}